// Обнуление стилей
@import "nullstyle.scss";
// Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
//SCSS
.main {
      font-family: 'Roboto Mono', monospace;
}
.content {
      max-width: 800px;
      margin: 0 auto;
      padding: 50px 0;
}
.notebook {
		&__content {
            display: flex;
            flex-direction: row;
            padding: 20px;
		}

		&__notes {
            flex: 1 1 30%;
            margin: 0 25px 0 0;
		}

		&__item {
            cursor: pointer;
            position: relative;
            font-size: 20px;
            margin: 0 0 20px 0;
            border: 1px dashed #000;
            padding: 5px 10px;
            width: 100%;
            border-radius: 5px;
            text-align: center;
		}

		&__new {
		}

		&__newitem {
            font-size: 20px;
            text-align: center;
            padding: 5px 10px;
            border-radius: 5px;
            width: 100%;
            background-color: rgb(255, 196, 0);
		}
            &__remove{
                  cursor: auto;
                  margin: 10px 0 0 0;
                  font-size: 20px;
                  text-align: center;
                  padding: 5px 10px;
                  border-radius: 5px;
                  width: 50%;
            }

		&__text {
            flex: 1 1 70%;
		}

		&__textarea {
            font-size: 16px;
            resize: none;
            border-radius: 5px;
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, 0.171);
            width: 100%;
            height: 400px;
            margin: 0 0 10px 0;
		}

		&__save {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
		}

		&__button {
            font-size: 20px;
            text-align: center;
            padding: 5px 10px;
            border-radius: 5px;
            width: 100%;
            background-color: rgb(212, 212, 212);
            cursor: auto;
		}
}
.note {
		&__items {
		}
}


.notebook__item._active{
      border: 3px solid #000;
}
.notebook__button._active{
      cursor: pointer;
      background-color: rgb(255, 196, 0);
}
.notebook__remove._active{                  
      color: #fff;
      cursor: pointer;
      background-color: rgb(209, 0, 0);
}

.notebook__textarea._active{
      border: 1px solid #000;
}

// .notebook__item._bin{
//       &::after{
//             content: '';
//             position: absolute;
//             width: 15px;
//             height: 1px;
//             background-color: red;
//             top: 50%;
//             right: 10px;
//             transform: rotate(45deg);
//       }
//       &::before{
//             content: '';
//             position: absolute;
//             width: 15px;
//             height: 1px;
//             background-color: red;
//             top: 50%;
//             right: 10px;
//             transform: rotate(-45deg);
//       }
// }
.popup {
      font-family: 'Roboto Mono', monospace;
      width: 100%;
      height: 100%;
      &__body {
            display: none;
            animation: opacity 1.5s ease 0s;
            user-select: none;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, 0);
            width: 200px;
            height: 70px;
            background-color: rgba(0, 0, 0, 0.9);
            border-radius: 10px;
      }

      &__content {
            height: 100%;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
      }
      &__title {
            color: #fff;
      }
}


@keyframes opacity {
      0%{
            opacity: 1;
      }
      25%{
            opacity: 1;
      }
      100%{
            opacity: 0;
      }  
}
.popup__body._open{
      display: block;
}